<nav class="navbar navbar-dark navbar-expand-lg bg-success">
  <a href="/" class="navbar-brand"> Administração de Projetos </a>
  <button
    class="navbar-toggler ml-auto"
    data-toggle="collapse"
    data-target="#nav-target"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="nav-target">
    <ul class="navbar-nav my-2 mr-auto" id="nav-target"></ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ml-5">
        <form method="post" action="/logout">
          <button type="submit" class="btn btn-primary">
            Trocar de Usuário
          </button>
        </form>
      </li>
    </ul>
  </div>
</nav>
